@model IEnumerable<Game_reg_1x1.Models.Game>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Tournament
            </th>
            <th>
                Date
            </th>
            <th>
                Player1
            </th>
            <th>
                Player2
            </th>
            <th>
                Winner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Tournament.Name
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @item.Player1.Name
            </td>
            <td>
                @item.Player2.Name
            </td>
            <td>
                @item.GameWinner.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
