@model IEnumerable<Game_reg_1x1.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<h1>Players</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Victories
            </th>
            <th>
                Fails
            </th>
            <th>
                Raiting
            </th>
            <th>
                Winned Games
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Victories
            </td>
            <td>
                @item.Fails
            </td>
            <td>
                @item.Rating
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
