@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Player>
<h2>Players table</h2>
<table class="players-table table table-striped .table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Points</th>
        <th>Rating</th>
        <th>Team</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Points</td>
            <td>@p.Rating</td>
            <td>@p.Team.Name</td>
        </tr>
    }
    </tbody>
</table>